{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "browsers": [
                        "last 3 versions"
                    ]
                },
                "modules": false
            }
        ],
        "@babel/react"
    ],
    "plugins": [
        "@babel/proposal-object-rest-spread"
    ]
}